backports.shutil-get-terminal-size==1.0.0
Click==7.0
decorator==4.4.1
enum34==1.1.6
Flask==1.1.1
Flask-SocketIO==4.2.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pathlib2==2.3.5
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==1.0.18
ptyprocess==0.6.0
Pygments==2.4.2
pyserial==3.4
python-engineio==3.10.0
python-socketio==4.3.1
scandir==1.10.0
simplegeneric==0.8.1
six==1.13.0
traitlets==4.3.3
wcwidth==0.1.7
Werkzeug==0.16.0
