{% extends 'base.html' %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
  {% for service in logs %}
  <p>
  <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#{{ service.name|replace('.','') }}" aria-expanded="false" aria-controls="{{ service.name|replace('.','') }}">
    {{ service.name }} : {{ service.active }}
  </button>
</p>
  <div class="collapse" id="{{ service.name|replace('.','') }}">
    <div class="card card-body">
  {{ service.sysctl_status|safe }}<br>
  {{ service.journalctl|safe }}<br>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
{% block scripts %}
    <!-- Optional JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery-3.5.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-4.6.1.bundle.min.js') }}"></script>
    {% endblock %}

