{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap4-toggle.css', v=g.version) }}">

{% endblock %}

{% block content %}
<div class="container">
<div id="upload">
<h1>Manual Update: </h1>
<form method="POST" action="" enctype="multipart/form-data">
    <p><input type="file" name="file"></p>
    <p><input type="submit" value="Submit"></p>
</form>
</div>
<div id="updating"></div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script>
    // SocketIO namespace:
    namespace = "/test";

    // initiate SocketIO connection
    socket = io.connect(namespace);
    
    socket.on("updating_rtkbase", function() {
    $("#updating").text("Please wait...Updating...Refresh manually in a few minutes");
    
})
</script>
{% endblock %}