{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap4-toggle.css', v=g.version) }}">

{% endblock %}

{% block content %}
<div class="container">


<!-- The update Modal dialog box-->
<div class="modal" id="updateModal">
    <div class="modal-dialog">
      <div class="modal-content">     
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>       
        <!-- Modal body -->
        <div class="modal-body">  
          <h1>Manual Update: </h1>
          <form method="POST" action="" enctype="multipart/form-data">
              <p><input type="file" name="file"></p>
              <p><input onclick="form_submit()" id="submit-button" type="submit" value="Submit"></p>
          </form>
        </div>       
        <!-- Modal footer -->
        <div class="modal-footer mx-auto">
          <button id="start-update-button" type="button" class="btn btn-success" disabled>Update</button>
          <button id="cancel-button" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>         
        </div>      
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap4-toggle.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='settings.js', v=g.version) }}" charset="utf-8"></script>
<script type="text/javascript">
  $('#updateModal').modal();
 function form_submit() {
    document.querySelector("form").submit();
 };
</script>
{% endblock %}