{% extends 'base.html' %}

{% block content %}
<div class="container">
<h4>Services:</h4>
  <div id="main_service_space" class="form-group row">
    <div class="col">
    <label for="main-switch" class="col-4 col-form-label col-form-label-lg">Main service</label>
    <input id="main-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#main_service_options" aria-expanded="false" aria-controls="main_service_options">Options</button>
  </div>
</div>
        <form id="main_service_options" class="collapse">
            {% for setting in data.main %}
                <div class="form-group row">
                {% for key, value in setting.items() %}
                    <label for="{{ key }}" class="col-sm-3 col-form-label">{{ key }}: </label>
                    <div class="col-sm-9">
                        <input id="{{ key }}" type="text" class="form-control" value="{{ value|e }}" readonly>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </form>

  <div id="ntrip_service_space" class="form-group row">
    <div class="col">
    <label for="ntrip-switch" class="col-4 col-form-label col-form-label-lg">Ntrip service</label>
    <input id="ntrip-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#ntrip_service_options" aria-expanded="false" aria-controls="ntrip_service_options">Options</button>
  </div>
</div>
    <form id="ntrip_service_options" class="collapse">
        {% for setting in data.ntrip %}
            <div class="form-group row">
            {% for key, value in setting.items() %}
                <label for="{{ key }}" class="col-sm-3 col-form-label">{{ key }}: </label>
                <div class="col-sm-9">
                    <input id="{{ key }}" type="text" class="form-control" value="{{ value|e }}" readonly>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </form>

  <div id="file_service_space" class="form-group row">
      <div class="col">
    <label for="file-switch" class="col-4 col-form-label col-form-label-lg">File service</label>
    <input id="file-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#file_service_options" aria-expanded="false" aria-controls="file_service_options">Options</button>
  </div>
  </div>
    <form id="file_service_options" class="collapse">
        {% for setting in data.file %}
            <div class="form-group row">
            {% for key, value in setting.items() %}
                <label for="{{ key }}" class="col-sm-3 col-form-label">{{ key }}: </label>
                <div class="col-sm-9">
                    <input id="{{ key }}" type="text" class="form-control" value="{{ value|e }}" readonly>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </form>
</div>
<div id="other_settings" class="container">
    <h4> Other Settings:</h4>
    <div class="form-group-row">
        <div class="col">
            <span class="col-4">Rtkbase release {{ g.version }} </span>
            <button id="check_update_button" class="btn btn-secondary" type="button">Check update</button>
        </div>
    </div>
</div>
<!-- The update  Modal dialog box-->
<div class="modal" id="updateModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body text-center ">          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer mx-auto">
          <button id="start-update-button" type="button" class="btn btn-success" disabled>Update</button>
          <button id="cancel-button" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='settings.js') }}" charset="utf-8"></script>
{% endblock %}