[Unit]
Description=Switch Simcom modem to public ip address
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User={user}
ExecStart={python_path} {script_path}/tools/switch_to_public_ip.py
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target