[Unit]
Description=Run modem_check.service every hour

[Timer]
OnBootSec=30
OnCalendar=*-*-* *:00:00
Persistent=true

[Install]
WantedBy=timers.target
