[Unit]
Description=Check Simcom modem ip address
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User={user}
ExecStart={python_path} {script_path}/tools/switch_to_public_ip.py

[Install]
WantedBy=multi-user.target