[Unit]
Description=RTKBase Web Server
#After=network-online.target
#Wants=network-online.target

[Service]
User=root
ExecStart={python_path} {script_path}/web_app/server.py
Restart=on-failure
RestartSec=30
ProtectHome=read-only
ProtectSystem=strict
ReadWritePaths={script_path} /var/tmp /usr/local/bin

[Install]
WantedBy=multi-user.target
