[Unit]
Description=RTKBase Web Server
#After=network-online.target
#Wants=network-online.target

[Service]
User=root
WorkingDirectory=/home/debian
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="HOME=/home/debian"
ExecStart=/home/debian/rtkbase_riscv/venv/bin/python /home/debian/rtkbase_riscv/web_app/server.py
Restart=on-failure
RestartSec=30
#ProtectHome=read-only
#ProtectSystem=strict
#ReadWritePaths=/home/debian/rtkbase_riscv /var/tmp /usr/local/bin

[Install]
WantedBy=multi-user.target
