[Unit]
Description=RTKBase Ntrip
#After=network-online.target
#Wants=network-online.target
Requires=str2str_tcp.service

[Service]
Type=forking
User={user}
ExecStart={script_path}/run_cast.sh in_tcp out_caster
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
