[Unit]
Description=RTKBase File
#After=network-online.target
#Wants=network-online.target
Requires=str2str_tcp.service ntp.service

[Service]
Type=simple
#User=basegnss
ExecStart={user_home}/rtkbase/run_cast.sh in_tcp out_file

[Install]
WantedBy=multi-user.target
