[Unit]
Description=RTKBase Tcp
#After=network-online.target
#Wants=network-online.target
#Requires=network-online.target

[Service]
Type=forking
User={user}
ExecStart={script_path}/run_cast.sh in_serial out_tcp
Restart=on-failure
RestartSec=30
#Limiting log to 1 msg per minute
LogRateLimitIntervalSec=1 minute
LogRateLimitBurst=1

[Install]
WantedBy=multi-user.target
