[Unit]
Description=RTKBase File - Log data
Requires=str2str_tcp.service ntp.service

[Service]
Type=forking
User={user}
ExecStart={script_path}/run_cast.sh in_tcp out_file

[Install]
WantedBy=multi-user.target
