[Unit]
Description=RTKBase File - Log data
Requires=str2str_tcp.service

[Service]
Type=forking
User={user}
ExecStart={script_path}/run_cast.sh in_tcp out_file
Restart=on-failure
RestartSec=30


[Install]
WantedBy=multi-user.target
