{% from 'bootstrap/nav.html' import render_nav_item %}
<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    {{ bootstrap.load_css() }}

    {% endblock %}

    <title>Your page title</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav nav-pills nav-fill">
                {{ render_nav_item('status_page', 'Status') }}
                {{ render_nav_item('settings_page', 'Settings') }}
                {{ render_nav_item('logs_page', 'Logs') }}
            </div>
        </div>
    </nav>
    <!-- Your page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='configs.js') }}" charset="utf-8"></script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='graph.js') }}" charset="utf-8"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='handlers.js') }}" charset="utf-8"></script>
    {% endblock %}
  </body>
</html>
