{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

{{super()}}
{% endblock %}

{% block content %}
<div class="container">
    <table id="logtable" data-toggle="table">
        
        <thead>
          <tr>
            <th data-field="name" data-sortable="true">File name</th>
            <th data-field="format" data-sortable="true">type</th>
            <th data-field="size" data-sortable="true">size (MB)</th>
            <th data-field="actions" data-formatter="actionFormatter" data-events="operateEvents">actions</th>
            
          </tr>
        </thead>
      </table>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='logs.js') }}" charset="utf-8"></script>

{% endblock %}