{% extends 'base.html' %}

{% block content %}
<div class="container">

  <div id="main_service_space" class="form-group row">
    <div class="col">
    <label for="main-switch" class="col-4 col-form-label col-form-label-lg">Main service</label>
    <input id="main-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#main_service_options" aria-expanded="false" aria-controls="main_service_options">Options</button>
  </div>
</div>
        <form id="main_service_options" class="collapse">
            {% for setting in data.main %}
                <div class="form-group row">
                {% for key, value in setting.items() %}
                    <label for="{{ key }}" class="col-sm-3 col-form-label">{{ key }}: </label>
                    <div class="col-sm-9">
                        <input id="{{ key }}" type="text" class="form-control" value="{{ value|e }}" readonly>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </form>

  <div id="ntrip_service_space" class="form-group row">
    <div class="col">
    <label for="ntrip-switch" class="col-4 col-form-label col-form-label-lg">Ntrip service</label>
    <input id="ntrip-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#ntrip_service_options" aria-expanded="false" aria-controls="ntrip_service_options">Options</button>
  </div>
</div>
    <form id="ntrip_service_options" class="collapse">
        {% for setting in data.ntrip %}
            <div class="form-group row">
            {% for key, value in setting.items() %}
                <label for="{{ key }}" class="col-sm-3 col-form-label">{{ key }}: </label>
                <div class="col-sm-9">
                    <input id="{{ key }}" type="text" class="form-control" value="{{ value|e }}" readonly>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </form>

  <div id="file_service_space" class="form-group row">
      <div class="col">
    <label for="file-switch" class="col-4 col-form-label col-form-label-lg">File service</label>
    <input id="file-switch" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-secondary">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#file_service_options" aria-expanded="false" aria-controls="file_service_options">Options</button>
  </div>
  </div>
    <form id="file_service_options" class="collapse">
        {% for setting in data.file %}
            <div class="form-group row">
            {% for key, value in setting.items() %}
                <label for="{{ key }}" class="col-sm-3 col-form-label">{{ key }}: </label>
                <div class="col-sm-9">
                    <input id="{{ key }}" type="text" class="form-control" value="{{ value|e }}" readonly>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </form>

<h3>Parameters: </h3>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec,
 ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor,
  orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, 
  consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Prae
  ent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.

Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius,
 ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integ
 er id felis. Curabitur aliquet pellentesque diam. Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, consecte
 tuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convalli
 s id, congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et
  tristique ligula justo vitae magna. 

</div>
{% endblock %}


{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='settings.js') }}" charset="utf-8"></script>
{% endblock %}