{% extends 'base.html' %}

{% block content %}

<div class="container">
<div id="bar-chart"></div>

<div class="row">
    <div class="col py-3 border bg-light"><b>Longitude: </b><span id="lon_value"></span></div>
    <div class="col py-3 border bg-light"><b>Latitude: </b><span id="lat_value"></span></div>
    <div class="col py-3 border bg-light"><b>Height: </b><span id="height_value"></span></div>
</div>


</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='status.js') }}" charset="utf-8"></script>
{% endblock %}